nav {
    display: flex;
    justify-content: space-between;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 20px ;
    border-radius: 10px;
    color: white;
    font-size: 50%;
}
body {
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
  
}
.text-butt{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
   
}
nav li {
    list-style: none;
    margin-right: 50px;
}